[2020-09-07 02:59] jwonyLee opened #1 "Optional 이란 무엇인지 설명하시오."
2021년 2월 18일(목) 오후 7시까지

[2020-09-07 09:27] IMCHO commented on #1
[여기서](https://www.notion.so/taeknology/Optional-e78e3efcf88243bbb015ca074895967a) 확인해주세요.

[2020-09-07 10:59] jeffoio commented on #1
https://www.notion.so/Optional-7e495dec684a4a258f50759161c2995a

[2020-09-07 11:16] Minimoa commented on #1
[optional 정리](https://velog.io/@alslahdk/swift-Optionals) ....😀

[2020-09-07 13:18] kartmon61 commented on #1
https://www.notion.so/Optional-ac9abaf283c04df79204ca3e68356f4c

[2020-09-07 16:20] jwonyLee commented on #1
내용이 길어진 김에 블로그 포스팅으로 해봤습니다ㅋㅋ
글의 뼈대는 딱 한 달전에 챌린지 진행중에 쓰고 있었는데, 어쩌다보니 인터뷰 질문 쓰면서 쓰게 되었네요!
[Swift-Optional과-Optional-안전하게-사용하기](https://jwonylee.tistory.com/entry/Swift-Optional과-Optional-안전하게-사용하기)

[2020-09-07 21:39] devejs commented on #1
[옵셔널](https://devejs.github.io/ios/2020/09/07/swift-optional.html)

[2020-09-08 03:58] jwonyLee opened #2 "Fast Enumeration 이란 무엇인지 설명하시오."
2021년 2월 22일(월) 오후 8시까지

[2020-09-09 06:16] IMCHO commented on #2
https://www.notion.so/taeknology/Fast-Enumeration-775e3191ec4f4cdfba5dedc651f67c07

[2020-09-09 12:23] Minimoa commented on #2
https://www.notion.so/767473/Fast-Enumeration-f302aba2b0b64d4396d95bffb5e3de09

[2020-09-09 14:32] jwonyLee commented on #2
https://www.notion.so/jwonylee/Fast-Enumeration-541517122254456c99a768db9537064d

[2020-09-09 17:17] jeffoio commented on #2
https://www.notion.so/Fast-Enumeration-019686f7bcd441bd90d2cf6d6dfdabcb

[2020-09-09 22:27] devejs commented on #2
[왜 다 노션을 쓰시는 거ㅇ에요](https://devejs.github.io/ios/2020/09/10/swift-fast-enumeration.html)

[2020-09-10 01:11] kartmon61 commented on #2
https://www.notion.so/Fast-Enumeration-e2d19491e0504280895df9d426875aeb

[2020-09-10 02:39] jwonyLee opened #3 "Struct 가 무엇이고 어떻게 사용하는지 설명하시오."
2021년 2월 22일(월) 오후 8시까지

[2020-09-10 15:02] IMCHO commented on #3
https://www.notion.so/taeknology/Struct-b61a6a2651dd4cc4a8436be472d80fe3

[2020-09-10 15:38] jwonyLee commented on #3
https://www.notion.so/jwonylee/Struct-669ecdcf065f4aa5b567f8a8f4caf34c

[2020-09-11 03:18] jeffoio commented on #3
https://www.notion.so/Struct-b8d5eefecf3f41c7be5cf43704fa5411

[2020-09-11 05:21] kartmon61 commented on #3
https://www.notion.so/Struct-578768189f584d098a25f70881c5bd10

[2020-09-11 06:17] Minimoa commented on #3
https://www.notion.so/767473/Struct-5170f592b5ad4bd795eb5142611afd5a

[2020-09-14 02:13] jwonyLee opened #4 "instance 메서드와 class 메서드의 차이점을 설명하시오."
2020년 9월 15일(화) 오전 10시까지
\+ 2021년 2월 23일(화) 오후 8시까지

[2020-09-14 12:04] IMCHO commented on #4
https://www.notion.so/taeknology/instance-class-fa41ed7a2bd44e54b3bc2c4ac306a8ac

[2020-09-14 13:35] jeffoio commented on #4
https://www.notion.so/instance-class-02895d9a4fbc4e7d98fb355d541cbd30

[2020-09-14 14:17] Minimoa commented on #4
https://www.notion.so/767473/instance-class-7a373627b2724babb79e32a5ee8c941e

[2020-09-14 14:20] jwonyLee commented on #4
https://www.notion.so/jwonylee/instance-class-0caa78cdbd1e43e2a66e3061369d1e25

[2020-09-14 14:57] devejs commented on #4
https://devejs.github.io/ios/2020/09/14/static-self.html

[2020-09-14 17:02] kartmon61 commented on #4
https://www.notion.so/instance-class-849e78f6654b4b27b130f5c986ec047b

[2020-09-15 04:39] jwonyLee opened #5 "Delegate 패턴을 활용하는 경우를 예를 들어 설명하시오."
2020년 9월 17일(목) 오전 10시 까지
\+ 2021년 2월 23일(화) 오후 8시까지

[2020-09-16 04:44] IMCHO commented on #5
https://www.notion.so/taeknology/Delegate-7d9736d4a78c4e9287baf31daff1fa3d

[2020-09-16 13:14] jwonyLee commented on #5
https://www.notion.so/jwonylee/Delegate-1ea37c778c3544199cf1648eb4b80d86

[2020-09-16 14:29] Minimoa commented on #5
https://www.notion.so/767473/Delegate-06131caedb954cd48092362484a9dbb1

[2020-09-16 15:18] jeffoio commented on #5
https://www.notion.so/Delegate-9d4949c2fb6f4ff48834313c8fa087ec

[2020-09-16 17:09] kartmon61 commented on #5
https://www.notion.so/Delegate-a91c5ea07ea5437396126106b01e46d7

[2020-09-17 01:42] jwonyLee opened #6 "Singleton 패턴을 활용하는 경우를 예를 들어 설명하시오."
2020년 9월 18일(금) 오후 3시 30분까지

[2020-09-17 12:43] IMCHO commented on #6
https://www.notion.so/taeknology/Singleton-e3154042414b4af5902bd1e2cf19d272

[2020-09-17 13:19] Minimoa commented on #6
https://www.notion.so/767473/Singleton-d767807280ec448f96319cbc270d4a7c

[2020-09-17 15:36] jwonyLee commented on #6
https://www.notion.so/jwonylee/Singleton-7f35b34fbb684e33bffabf909337bec1

[2020-09-18 04:52] jeffoio commented on #6
https://www.notion.so/Singleton-b7924b1b5a974240bdd8e41798b85ca6

[2020-09-18 05:07] kartmon61 commented on #6
https://www.notion.so/Singleton-2c515cce2f4e4888b393f4e08db7222b

[2020-09-18 07:05] devejs commented on #6
https://devejs.github.io/ios/2020/09/17/singleton.html

[2020-09-21 01:38] jwonyLee opened #7 "KVO 동작 방식에 대해 설명하시오."
2020년 9월 22일(화) 오전 10시까지

[2020-09-21 08:26] IMCHO commented on #7
https://www.notion.so/taeknology/KVO-eea8d7c851734d7ba1b60ddd654db52b

[2020-09-21 14:56] jwonyLee commented on #7
https://www.notion.so/jwonylee/KVO-54e8f30d402a456493ca6435a0c3d89b

[2020-09-21 15:06] jeffoio commented on #7
https://www.notion.so/KVO-193378c586884ebbae601aa9c3db998a

[2020-09-21 17:34] devejs commented on #7
https://devejs.github.io/ios/2020/09/21/swift-kvo.html

[2020-09-21 23:11] Minimoa commented on #7
https://www.notion.so/767473/KVO-8b9685cba1b34371ba776c8cba982ab0

[2020-09-22 00:52] kartmon61 commented on #7
https://www.notion.so/KVO-c35d8c8580124c3790039b8228915eb7

[2020-09-23 01:20] jwonyLee opened #8 "Delegates와 Notification 방식의 차이점에 대해 설명하시오."
2020년 9월 24일(목) 오전 10시 까지

[2020-09-23 14:33] IMCHO commented on #8
https://www.notion.so/taeknology/Delegates-Notification-d42fb9bd3fb74f7785d0d18ba2609bcc

[2020-09-23 16:05] jwonyLee commented on #8
https://www.notion.so/jwonylee/Delegates-Notification-c34d3371dc464efe9b18f2d842a866c9

[2020-09-23 22:22] devejs commented on #8
https://devejs.github.io/ios/2020/09/23/notification_delegation.html

[2020-09-24 00:06] Minimoa commented on #8
https://www.notion.so/767473/Delegates-Notification-ae672fa85c354d19b6a8f30b411cf8c4

[2020-09-24 01:30] jwonyLee opened #9 "멀티 쓰레드로 동작하는 앱을 작성하고 싶을 때 고려할 수 있는 방식들을 설명하시오."
2020년 9월 25일(금) 오후 3시 까지

[2020-09-24 01:55] jeffoio commented on #8
https://www.notion.so/Delegates-Notification-d17baa645f5f471f91971ca13facec50

[2020-09-24 05:10] IMCHO commented on #9
https://www.notion.so/taeknology/7cbd401ce83e45d2a1152b342c574799

[2020-09-24 17:16] Minimoa commented on #9
https://www.notion.so/767473/2a6d91af9c534ea791d26a96d60158aa

[2020-09-25 02:12] jwonyLee commented on #9
https://www.notion.so/jwonylee/8ff8baca574d4bd9882a2b0c7764c5c9

[2020-09-25 06:24] kartmon61 commented on #9
https://www.notion.so/868ec584a6d14851a5c6d74ec4c1c791

[2020-09-25 06:35] jeffoio commented on #9
https://www.notion.so/286e419e66484f92ad188649b788a7fd

[2020-09-25 06:37] devejs commented on #9
https://devejs.github.io/ios/2020/09/25/multi-thread.html

[2020-09-28 16:43] jwonyLee opened #10 "MVC 구조에 대해 블록 그림을 그리고, 각 역할과 흐름을 설명하시오."
2020년 9월 29일(화) 오전 10시 까지

[2020-09-28 16:44] jwonyLee commented on #10
https://www.notion.so/jwonylee/MVC-dc71851494e84fad82d298e9e6f7a808

[2020-09-28 19:17] devejs commented on #10
https://devejs.github.io/ios/2020/09/28/ios-mvc.html

[2020-09-28 23:40] Minimoa commented on #10
https://www.notion.so/767473/MVC-050733631dac44ee8cd23c1418d01b5e

[2020-09-30 04:38] jwonyLee opened #11 "프로토콜이란 무엇인지 설명하시오."
2020년 10월 1일(목) 오전 10시 까지

[2020-09-30 16:14] jeffoio commented on #11
https://www.notion.so/Protocol-da59e9f332174346ada881526e1e419d

[2020-09-30 17:18] jwonyLee commented on #11
https://www.notion.so/jwonylee/1269bf21c4884ae697f5152b2647eedd

[2020-10-01 00:28] Minimoa commented on #11
https://www.notion.so/767473/9edd019a69e445dfb2db44752ecc21e0

[2020-10-05 01:59] IMCHO opened #12 "Hashable이 무엇이고, Equatable을 왜 상속해야 하는지 설명하시오."

[2020-10-05 07:22] IMCHO commented on #11
https://www.notion.so/taeknology/4bb0e3c581234f829a73c3c4945d5825

[2020-10-05 14:25] Minimoa commented on #12
https://www.notion.so/767473/Hashable-Equatable-852108cfdbb0411ca5158317af807458

[2020-10-06 01:03] devejs commented on #11
https://devejs.github.io/ios/2020/10/03/swift-protocol.html

[2020-10-07 10:15] jeffoio commented on #12
https://www.notion.so/Hashable-Equatable-12-e0a1aa893bff4a3ca4d4e01602f46141

[2020-10-07 11:43] IMCHO commented on #12
https://www.notion.so/taeknology/Hashable-Equatable-aeab02dd6bae4049b3ecd812a4332cca

[2020-10-07 16:22] jwonyLee commented on #12
https://github.com/jwonyLee/TIL/blob/master/iOS/Interview/Hashable-Equatable.md

[2020-10-07 17:14] devejs commented on #12
https://devejs.github.io/ios/2020/10/07/swift-hashable.html

[2020-10-08 01:07] kartmon61 commented on #12
https://www.notion.so/Hashable-Equatable-8d8694a71b2240f7805d66675d512549

[2020-10-08 01:21] jwonyLee opened #13 "mutating 키워드에 대해 설명하시오."
2020년 10월 11일(일) 오후 1시까지

[2020-10-08 01:36] jwonyLee opened #14 "탈출 클로저에 대하여 설명하시오."
2020년 10월 11일(일) 오후 1시까지

[2020-10-08 17:42] devejs commented on #13
https://devejs.github.io/ios/2020/10/08/swift-mutating.html

[2020-10-10 06:42] jeffoio commented on #13
https://www.notion.so/mutating-b8dee7a6e15e47778f31d771aae58eae

[2020-10-10 06:42] jeffoio commented on #14
https://www.notion.so/fc7ca401197545beb974a45142170c60

[2020-10-10 10:47] jwonyLee commented on #13
https://github.com/jwonyLee/TIL/blob/master/iOS/Interview/Mutating.md

[2020-10-10 12:39] jwonyLee commented on #14
https://github.com/jwonyLee/TIL/blob/master/iOS/Interview/Escaping-Closure.md

[2020-10-10 13:21] IMCHO commented on #13
https://www.notion.so/taeknology/mutating-571bdfcc88964e71bcdbb19387ed36d7

[2020-10-10 13:54] IMCHO commented on #14
https://www.notion.so/taeknology/92cace03b7b544cea95fc05ae583acd3

[2020-10-11 02:21] Minimoa commented on #13
https://www.notion.so/767473/mutating-43e6b502b6fb4373a5fa5516d20cf3e3

[2020-10-11 02:22] Minimoa commented on #13
https://www.notion.so/767473/mutating-43e6b502b6fb4373a5fa5516d20cf3e3

[2020-10-11 02:23] Minimoa commented on #14
https://www.notion.so/767473/06ea67a321494f23a74b10e7981aabfd

[2020-10-11 03:48] devejs commented on #14
https://devejs.github.io/ios/2020/10/10/swift-escaping-closure.html

[2020-10-11 08:29] jwonyLee opened #15 "Extension에 대해 설명하시오."
2020년 10월 13일(화) 오전 10시 까지

[2020-10-12 04:10] IMCHO commented on #15
https://www.notion.so/taeknology/Extension-6d55cddb71e34973bbf6b670b87af74f

[2020-10-12 06:12] jeffoio commented on #15
https://www.notion.so/Extension-b6803bd78ee34f82801814d903b9aa14

[2020-10-12 10:48] devejs commented on #15
https://devejs.github.io/ios/2020/10/12/swift-extension.html

[2020-10-12 11:58] jwonyLee commented on #15
https://github.com/jwonyLee/TIL/blob/master/iOS/Interview/Extension.md

[2020-10-13 00:22] Minimoa commented on #15
https://www.notion.so/767473/Extension-462b75159d0140208620315d282c6fbb

[2020-10-13 11:05] jwonyLee opened #16 "접근 제어자의 종류엔 어떤게 있는지 설명하시오"
2020년 10월 15일(목) 오전 10시까지

[2020-10-14 05:12] IMCHO commented on #16
https://www.notion.so/taeknology/ee7046ee4b614f2cad950776445f6268

[2020-10-14 07:15] jeffoio commented on #16
https://www.notion.so/bb039b0999764622b66b8c90df2ec1f7

[2020-10-14 12:24] jwonyLee commented on #16
https://github.com/jwonyLee/TIL/blob/master/iOS/Interview/Access-Modifier.md

[2020-10-15 00:07] Minimoa commented on #16
https://www.notion.so/767473/dab4a6aef2e043378e9e2156ca70a00d

[2020-10-15 01:00] devejs commented on #16
https://devejs.github.io/ios/2020/10/14/swift-access-control.html

[2020-10-15 01:51] jwonyLee opened #17 "defer란 무엇인지 설명하시오."
2020년 10월 16일(금) 오후 3시 30분까지

[2020-10-15 01:52] jwonyLee opened #18 "defer가 호출되는 순서는 어떻게 되고, defer가 호출되지 않는 경우를 설명하시오."
2020년 10월 16일(금) 오후 3시 30분까지

[2020-10-15 10:40] Minimoa commented on #17
https://www.notion.so/767473/defer-4fb3a35176714a94ab4c4ff4ffd09815

[2020-10-15 10:55] Minimoa commented on #18
https://www.notion.so/767473/defer-defer-94b30eecec244821bb360a9e5cb501e3

[2020-10-15 12:27] IMCHO commented on #17
https://www.notion.so/taeknology/defer-defer-defer-9fb2ae3a9ad749019b95c11db2773b35
2개 한꺼번에 작성했습니다!

[2020-10-15 12:27] IMCHO commented on #18
https://www.notion.so/taeknology/defer-defer-defer-9fb2ae3a9ad749019b95c11db2773b35
2개 한꺼번에 작성했습니다!

[2020-10-15 14:49] jwonyLee commented on #17
https://github.com/jwonyLee/TIL/blob/master/iOS/Interview/defer.md

[2020-10-15 14:49] jwonyLee commented on #18
https://github.com/jwonyLee/TIL/blob/master/iOS/Interview/defer-call.md

[2020-10-15 16:46] devejs commented on #17
https://devejs.github.io/ios/2020/10/15/swift-deter.html
저도 두개 한꺼번에 작성했습니다!

[2020-10-15 17:26] devejs commented on #18
https://devejs.github.io/ios/2020/10/15/swift-deter.html
저도 두개 한꺼번에 작성했습니다!

[2020-10-16 02:21] jeffoio commented on #18
https://www.notion.so/defer-51013342c2b44b329995bc4841989cba

[2020-10-16 02:21] jeffoio commented on #17
https://www.notion.so/defer-51013342c2b44b329995bc4841989cba

[2020-10-19 03:28] jeffoio opened #19 "Bounds 와 Frame 의 차이점을 설명하시오."
2020년 10월 20일(화) 오전 10시 까지

[2020-10-19 03:29] jeffoio commented on #19
https://www.notion.so/Bounds-Frame-404be8dfa4a645169012d783a04c3883

[2020-10-19 09:40] IMCHO commented on #19
https://www.notion.so/taeknology/Bounds-Frame-af7b75953e914423a1fb6f8edc4943e6

[2020-10-19 15:37] jwonyLee commented on #19
https://github.com/jwonyLee/TIL/blob/master/iOS/Interview/Bounds-Frame.md

[2020-10-19 21:11] devejs commented on #19
https://devejs.github.io/ios/2020/10/19/ios-bound-frame.html

[2020-10-20 02:29] jwonyLee opened #20 "실제 디바이스가 없을 경우 개발 환경에서 할 수 있는 것과 없는 것을 설명하시오."
2020년 10월 22일(목) 오전 10시까지

[2020-10-21 02:25] IMCHO commented on #20
https://www.notion.so/taeknology/71c6a6a9954a4c90be8f39c22b859908

[2020-10-22 00:44] jwonyLee commented on #20
https://github.com/jwonyLee/TIL/blob/master/iOS/Interview/Device.md

[2020-10-22 09:54] jwonyLee opened #21 "앱이 foreground에 있을 때와 background에 있을 때 어떤 제약사항이 있나요?"
2020년 10월 23일(금) 오후 3시까지

[2020-10-22 11:28] IMCHO commented on #21
https://www.notion.so/taeknology/foreground-background-69cc5be44fd643ef9bc55391b2b5904a
그렇게 시간을 투자하지는 못했지만...관련 자료를 못 찾겠네요ㅠㅠ

[2020-10-23 05:44] jwonyLee commented on #21
https://github.com/jwonyLee/TIL/blob/master/iOS/Interview/Foreground-Background.md

[2020-10-23 06:31] devejs commented on #21
https://devejs.github.io/ios/2020/10/23/ios-foreground-background.html

[2020-10-23 06:33] jeffoio commented on #21
https://www.notion.so/foreground-background-7596576a8ef840e6bdee4841b01f2cba

[2020-10-23 06:35] Minimoa commented on #21
https://www.notion.so/767473/foreground-background-21-6875cfa6afc54d39aeb63794804aeb3f

[2020-10-23 08:48] devejs opened #22 "상태 변화에 따라 다른 동작을 처리하기 위한 앱델리게이트 메서드들을 설명하시오."
2020년 10월 27일(화) 오전 10시까지

[2020-10-26 15:03] IMCHO commented on #22
https://www.notion.so/taeknology/368da60528ec4546a30a741037006182

[2020-10-27 00:54] jeffoio commented on #22
https://www.notion.so/f4d034cca6fe416f91b23a5ffdd49836

[2020-10-27 01:01] jwonyLee commented on #22
https://github.com/jwonyLee/TIL/blob/master/iOS/Interview/App-Lifecycle.md

[2020-11-02 13:40] Minimoa commented on #22
https://www.notion.so/767473/7c387110e5bf4440bfae551a83c0473c

[2020-11-03 01:00] devejs commented on #22
https://devejs.github.io/ios/2020/10/26/ios-app-delegate.html

[2020-11-03 04:38] jwonyLee opened #23 "scene delegate에 대해 설명하시오."
2020년 11월 5일(목) 오전 10시까지

[2020-11-04 13:29] jeffoio commented on #23
https://www.notion.so/scene-delegate-cf3a0bf1daf246ddbdf07952b29b7e56

[2020-11-04 15:01] devejs commented on #23
https://devejs.github.io/ios/2020/11/04/ios-scene-delegate.html

[2020-11-04 16:00] Minimoa commented on #23
https://www.notion.so/767473/scene-delegate-f38edecda09943d3989d6437feff8b73

[2020-11-04 16:18] jwonyLee commented on #23
https://github.com/jwonyLee/TIL/blob/master/iOS/Interview/Scene-Delegate.md

[2020-11-05 07:24] devejs opened #24 "앱이 In-Active 상태가 되는 시나리오를 설명하시오."
2020년 11월 6일(금) 오후 3시까지

[2020-11-06 03:07] IMCHO commented on #24
https://www.notion.so/taeknology/In-Active-bb9f3adb71db47bead320321f331828d

[2020-11-06 05:44] jwonyLee commented on #24
https://github.com/jwonyLee/TIL/blob/master/iOS/Interview/In-Active.md

[2020-11-06 06:26] Minimoa commented on #24
https://www.notion.so/767473/In-Active-6e553a9c57214591af904a16db8464b0

[2020-11-06 06:27] jeffoio commented on #24
https://www.notion.so/In-Active-e7607a325d6c4656a006a13b33c63cf0

[2020-11-06 08:06] jwonyLee opened #25 "NSOperationQueue 와 GCD Queue 의 차이점을 설명하시오."
2020년 11월 10일(화) 오전 10시까지

[2020-11-09 10:30] IMCHO commented on #25
https://www.notion.so/taeknology/NSOperationQueue-GCD-Queue-7e1936a30ca346d9ba74e09c8d77d07a

[2020-11-09 11:50] jeffoio commented on #25
https://www.notion.so/NSOperationQueue-GCD-Queue-7dee5f9bb82643d2a5b227eb0a768b61

[2020-11-09 15:44] jwonyLee commented on #25
https://github.com/jwonyLee/TIL/blob/master/iOS/Interview/NSOperationQueue-GCDQueue.md

[2020-11-09 16:38] Minimoa commented on #25
https://www.notion.so/767473/NSOperationQueue-GCD-Queue-47dcd68c38a044ce8429e3051b4b93a7

[2020-11-09 21:41] devejs commented on #25
https://devejs.github.io/ios/2020/11/09/ios-async-queue.html

[2020-11-10 07:04] jwonyLee opened #26 "GCD API 동작 방식과 필요성에 대해 설명하시오."
2020년 11월 12일(목) 오전 10시 까지

[2020-11-11 13:32] jwonyLee commented on #26
https://github.com/jwonyLee/TIL/blob/master/iOS/Interview/GCD-API.md

[2020-11-11 16:08] jeffoio commented on #26
https://www.notion.so/GCD-API-65882583e57f4d798a33ad8a25ac5fad

[2020-11-12 00:35] Minimoa commented on #26
https://www.notion.so/767473/GCD-API-80c655af9c4d49bb94b278985de6ff79

[2020-11-12 01:40] jwonyLee opened #27 "자신만의 Custom View를 만들려면 어떻게 해야하는지 설명하시오."
2020년 11월 13일(금) 오후 3시까지

[2020-11-12 14:51] Minimoa commented on #27
https://www.notion.so/767473/Custom-View-4f86e42eaae94a8884d43c53e19ff8a7

[2020-11-13 06:18] jeffoio commented on #27
https://www.notion.so/Custom-View-e2fb5387d5a941e881d4eb7f57a3f85e

[2020-11-16 02:16] jwonyLee opened #28 "iOS 앱을 만들고, User Interface를 구성하는 데 필수적인 프레임워크 이름은 무엇인가?"
2020년 11월 17일(화) 오전 10시까지

[2020-11-16 07:25] Minimoa commented on #28
https://www.notion.so/767473/iOS-User-Interface-bb50a802de9949e59563e3b5d8f4c8de

[2020-11-17 03:59] jeffoio opened #29 "Foundation Kit은 무엇이고 포함되어 있는 클래스들은 어떤 것이 있는지 설명하시오"
2020년 11월 19일(목) 오전 10시까지

[2020-11-18 15:52] jwonyLee commented on #29
https://github.com/jwonyLee/TIL/blob/master/iOS/Interview/Foundation.md

[2020-11-19 00:49] jeffoio commented on #29
https://www.notion.so/Foundation-Kit-0ba454fb3e744ebe9be8a9ad1c6d06e1

[2020-11-19 01:06] Minimoa commented on #29
https://www.notion.so/767473/Foundation-Kit-af69c351a7e4458cab0f7444821d9235

[2020-11-19 02:09] jwonyLee opened #30 "Delegate란 무언인가 설명하고, retain 되는지 안되는지 그 이유를 함께 설명하시오."
2020년 11월 20일(금) 오후 3시까지

[2020-11-19 13:39] jeffoio commented on #30
https://www.notion.so/Delegate-retain-e2441039e3ba42afa8394679fb2785be

[2020-11-20 06:23] Minimoa commented on #30
https://www.notion.so/767473/Delegate-retain-67055eba47de45dbb56152debdfc93f7

[2020-11-21 12:35] jeffoio opened #31 "NotificationCenter 동작 방식과 활용 방안에 대해 설명하시오."
2020년 11월 24일(화) 오전 10시까지

[2020-11-23 10:21] jeffoio commented on #31
https://www.notion.so/NotificationCenter-f9c115b6c532451abd093d9f45e9309b

[2020-11-23 16:13] jwonyLee commented on #31
https://github.com/jwonyLee/TIL/blob/master/iOS/Interview/NotificationCenter.md

[2020-11-24 07:32] jeffoio opened #32 "UIKit 클래스들을 다룰 때 꼭 처리해야하는 애플리케이션 쓰레드 이름은 무엇인가?"
2020년 11월 26일(목) 오전 10시까지

[2020-11-25 07:31] IMCHO commented on #32
https://www.notion.so/taeknology/UIKit-67e315d492e6466192f74e934a143dca

[2020-11-25 17:02] Minimoa commented on #32
https://www.notion.so/767473/UIKit-759bf5b19ad0448ebdcc630090b02d64

[2020-11-26 00:59] jeffoio commented on #32
https://www.notion.so/UIKit-eb3cd457ed2046718b762ee8bb9d819e

[2020-11-26 04:45] IMCHO opened #33 "TableView를 동작 방식과 화면에 Cell을 출력하기 위해 최소한 구현해야 하는 DataSource 메서드를 설명하시오."

[2020-11-26 05:38] IMCHO commented on #33
https://www.notion.so/taeknology/TableView-Cell-DataSource-2de90e805ebb43cf84baad6ea86c2593

[2020-11-27 04:47] jeffoio commented on #33
https://www.notion.so/TableView-Cell-DataSource-3521e659863f411fa3220c443992038f

[2020-11-27 05:30] jwonyLee commented on #33
https://github.com/jwonyLee/TIL/blob/master/iOS/Interview/TableView.md

[2020-11-27 06:27] Minimoa commented on #33
https://www.notion.so/767473/TableView-Cell-DataSource-f75300ec9103409f9ae60cf3161831ad

[2020-11-28 05:01] jwonyLee opened #34 "하나의 View Controller 코드에서 여러 TableView Controller 역할을 해야 할 경우 어떻게 구분해서 구현해야 하는지 설명하시오."

[2020-11-30 07:06] jeffoio commented on #34
https://www.notion.so/View-Controller-TableView-Controller-4b7f19987a814cde86ac732be1e50e86

[2020-11-30 10:38] jwonyLee opened #35 "App Bundle의 구조와 역할에 대해 설명하시오."
2020년 12월 1일(화) 오후 7시까지

[2020-11-30 12:20] jeffoio commented on #35
https://www.notion.so/App-Bundle-650ff04e917c4ef4980237d4f68f09a3

[2020-12-01 08:23] jwonyLee commented on #34
https://github.com/jwonyLee/TIL/blob/master/iOS/Interview/two-TableView.md

[2020-12-01 08:46] jwonyLee commented on #35
https://github.com/jwonyLee/TIL/blob/master/iOS/Interview/AppBundle.md

[2020-12-01 10:23] jwonyLee opened #36 "View 객체에 대해 설명하시오."
2020년 12월 3일(목) 오후 7시까지

[2020-12-03 04:00] jwonyLee commented on #36
https://github.com/jwonyLee/TIL/blob/master/iOS/Interview/UIView.md

[2020-12-03 06:10] jeffoio commented on #36
https://www.notion.so/View-d4692850f97d4f8fb9479662fc67e4bf

[2020-12-03 11:03] jwonyLee opened #37 "UIView 에서 Layer 객체는 무엇이고 어떤 역할을 담당하는지 설명하시오."
2020년 12월 7일(월) 오후 7시까지

[2020-12-06 13:14] jeffoio commented on #37
https://www.notion.so/UIView-Layer-d58bf9f0f9cd4aac8bed89abec292d2c

[2020-12-07 09:29] getBingsoo commented on #37
https://www.notion.so/UIView-Layer-a50212c9a0f14ae4a64fc93a7eb33222

[2020-12-07 10:14] jwonyLee commented on #37
https://github.com/jwonyLee/TIL/blob/master/iOS/Interview/Layer.md

[2020-12-07 12:58] #37 closed, assigned to nobody

[2020-12-07 13:00] jwonyLee opened #38 "UIWindow 객체의 역할은 무엇인가?"
2020년 12월 8일(화) 오후 7시까지

[2020-12-08 05:17] jeffoio commented on #38
https://www.notion.so/UIWindow-b00e9a2d27f34c4e877f9562cc60bb4b

[2020-12-08 11:07] getBingsoo commented on #38
https://www.notion.so/UIWindow-30a07b7849574b20a95073037e949241 일단 올리고 보강해서 다시올릴게여..!

[2020-12-09 06:34] jeffoio opened #39 "UINavigationController 의 역할이 무엇인지 설명하시오."
2020년 12월 10일(목) 오후 7시까지

[2020-12-09 06:35] jeffoio commented on #39
https://www.notion.so/UINavigationController-d037d4d90d32497a9c9438ccaa3f35c7

[2020-12-14 01:52] #38 closed, assigned to nobody

[2020-12-14 01:53] #39 closed, assigned to nobody

[2020-12-14 01:54] jeffoio opened #40 "모든 View Controller 객체의 상위 클래스는 무엇이고 그 역할은 무엇인가?"
2020년 12월 14일(월) 오후 7시까지

[2020-12-14 12:16] jwonyLee opened #41 "앱이 시작할 때 main.c 에 있는 UIApplicationMain 함수에 의해서 생성되는 객체는 무엇인가?"
2020년 12월 15일(화) 오후 7시까지

[2020-12-15 08:19] getBingsoo commented on #40
https://www.notion.so/View-Controller-51c8c03a06f3455ab9b35c625e3bcb30

[2020-12-15 09:35] jwonyLee commented on #40
https://github.com/jwonyLee/TIL/blob/master/iOS/Interview/ViewController.md

[2020-12-15 09:35] jwonyLee commented on #41
https://github.com/jwonyLee/TIL/blob/master/iOS/Interview/UIApplicationMain.md

[2020-12-17 05:36] jwonyLee opened #42 "UIApplication 객체의 컨트롤러 역할은 어디에 구현해야 하는가?"
2020년 12월 17일(목) 오후 7시까지

[2020-12-17 09:54] #40 closed, assigned to nobody

[2020-12-17 09:55] #41 closed, assigned to nobody

[2020-12-18 08:54] jwonyLee commented on #42
`UIApplication` 객체는 `UIApplicationMain(_:_:_:_:)` 함수에서 Singleton 객체로 생성된다. 그리고 이 함수는 `@main`이 선언되어 있는 App Delegate 에서 실행된다. 여기까지 찾아봤지만, **컨트롤러 역할은 어디에 구현해야 하는가?** 에서 질문의 요지라고 생각하는 **컨트롤러의 역할** 이 무엇인지 파악하지 못했다.

[2020-12-18 08:54] #42 closed, assigned to nobody

[2020-12-18 08:56] jwonyLee opened #43 "앱의 콘텐츠나 데이터 자체를 저장/보관하는 특별한 객체를 무엇이라고 하는가?"
2020년 12월 21일(월) 오후 7시까지

[2020-12-22 09:46] jeffoio commented on #43
https://www.notion.so/6a665a7020ce4992a4fe44bd93bdf444

[2020-12-22 09:51] jwonyLee commented on #43
https://github.com/jwonyLee/TIL/blob/master/iOS/Interview/Store.md

[2020-12-22 09:56] Minimoa commented on #43
https://www.notion.so/767473/bb8ebcc15a9342ff8fc0fd1555e13f14

[2020-12-24 11:11] #43 closed, assigned to nobody

[2020-12-24 11:12] jwonyLee opened #44 "앱 화면의 콘텐츠를 표시하는 로직과 관리를 담당하는 객체를 무엇이라고 하는가?"
2020년 12월 28일(월) 오후 7시까지

[2020-12-28 06:29] seonyoung169 commented on #44
수정합니다! https://www.notion.so/iOS-InterView-Questions-10fc6ba92953429b85d0bbedc25c58ee

[2020-12-28 09:53] jwonyLee commented on #44
https://github.com/jwonyLee/TIL/blob/master/iOS/Interview/UIViewController.md

[2020-12-28 10:13] jeffoio commented on #44
https://www.notion.so/32b4a19f75d04f33ad92cdde611b189e

[2020-12-28 11:23] jwonyLee opened #45 "Swift의 클로저와 Objective-C의 블록은 어떤 차이가 있는가?"
2020년 12월 29일(화) 오후 7시까지

[2020-12-28 11:25] #44 closed, assigned to nobody

[2020-12-29 07:59] seonyoung169 commented on #45
https://www.notion.so/Swift-Objective-C-2cca1483449b4c2c9dd65e4ab18f6d10

[2020-12-29 09:17] jeffoio commented on #45
https://www.notion.so/Swift-Objective-C-863502fbfd6b4319b1239b3302b08198

[2020-12-29 09:45] Minimoa commented on #45
https://www.notion.so/767473/Swift-Objective-C-a040f11e6b5e489cbb7f7e88176a9a65

[2020-12-29 09:56] jwonyLee commented on #45
https://github.com/jwonyLee/TIL/blob/master/iOS/Interview/Closure-Block.md

[2020-12-30 05:08] #45 closed, assigned to nobody

[2020-12-30 05:09] jwonyLee opened #46 "App의 Not running, Inactive, Active, Background, Suspended에 대해 설명하시오."
2020년 12월 31일(목) 오후 7시까지

[2021-01-03 11:29] seonyoung169 commented on #46
https://www.notion.so/App-Not-running-Inactive-Active-Background-Suspended-2ae3920c8d544c86b118158515bb8b2a

[2021-01-04 09:19] jeffoio commented on #46
https://www.notion.so/App-Not-running-Inactive-Active-Background-Suspended-bd578b9be7ef408aabc44897ef1140f5

[2021-01-04 09:30] Minimoa commented on #46
https://www.notion.so/767473/App-Not-running-Inactive-Active-Background-Suspended-3ae80dc5db49408fb63817a06532e4e0

[2021-01-04 16:10] #46 closed, assigned to nobody

[2021-01-04 16:11] jeffoio opened #47 "App thinning에 대해서 설명하시오."
2021년 1월 6일(수) 오후 7시까지

[2021-01-05 07:44] seonyoung169 commented on #47
https://www.notion.so/App-thinning-6968cfd296a148f89a97d407673a6cae

[2021-01-05 09:55] jeffoio commented on #47
https://www.notion.so/App-thinning-53aef02e0ee84de693e7d4a5a4f3fa97

[2021-01-05 10:13] jwonyLee commented on #47
https://github.com/jwonyLee/TIL/blob/master/iOS/Interview/App-thinning.md

[2021-01-05 10:36] jwonyLee opened #48 "Global DispatchQueue 의 Qos 에는 어떤 종류가 있는지, 각각 어떤 의미인지 설명하시오."
2021년 1월 11일(월) 오후 7시까지

[2021-01-06 01:19] Aileen-HyunjiSong commented on #47
https://www.notion.so/App-Thinning-b466cc5b5a32407c8353d2e434524ba1

[2021-01-06 01:28] getBingsoo commented on #47
https://www.notion.so/App-thinning-b200f0f0e853476cb98e1be602a34854

[2021-01-06 01:31] #47 closed, assigned to nobody

[2021-01-11 07:13] seonyoung169 commented on #48
https://www.notion.so/Global-DispatchQueue-Qos-2b1c040081364b1285170db825a3e325

[2021-01-11 08:47] Minimoa commented on #48
계속 밖이라서 참여 못할 것 같습니다

[2021-01-11 08:56] jwonyLee commented on #48
https://github.com/jwonyLee/TIL/blob/master/iOS/Interview/QoS.md

[2021-01-11 09:55] jeffoio commented on #48
https://www.notion.so/Global-DispatchQueue-Qos-58eaa650b3ec4adb90d20cee524492cd

[2021-01-11 10:30] #48 closed, assigned to nobody

[2021-01-11 10:31] jwonyLee opened #49 "오토레이아웃을 코드로 작성하는 방법은 무엇인가? (3가지)"
2021년 1월 12일(화) 오후 7시까지

[2021-01-11 15:01] seonyoung169 commented on #49
https://www.notion.so/AutoLayout-0596746b5f794f27a32c803717e9b6e3

[2021-01-12 07:45] jwonyLee commented on #49
https://github.com/jwonyLee/TIL/blob/master/iOS/Interview/Autolayout-code.md

[2021-01-12 09:38] jeffoio commented on #49
https://www.notion.so/3-7035a1caea5e44ba982b84983dc02a01

[2021-01-12 10:21] #49 closed, assigned to nobody

[2021-01-12 10:21] jwonyLee opened #50 "hugging, resistance에 대해서 설명하시오."
2021년 1월 14일(목) 오후 7시까지

[2021-01-14 07:26] jwonyLee commented on #50
https://github.com/jwonyLee/TIL/blob/master/iOS/Interview/hugging-resistance.md

[2021-01-14 09:11] seonyoung169 commented on #50
https://www.notion.so/hugging-resistance-a915df1940764914a18e49113fd66868

[2021-01-14 10:40] jwonyLee opened #51 "Intrinsic Size에 대해서 설명하시오."
2021년 1월 18일(월) 오후 7시까지

[2021-01-14 10:43] jeffoio commented on #50
https://www.notion.so/hugging-resistance-47e56d8c47bf48b786a32eb24943dff2

[2021-01-14 10:43] #50 closed, assigned to nobody

[2021-01-18 05:04] seonyoung169 commented on #51
https://www.notion.so/Intrinsic-Size-232550e86cee4e278a0859fb018dfb32

[2021-01-18 09:52] getBingsoo commented on #51
https://www.notion.so/Intrinsic-Size-e411b85ac16444ba8259403e6c206587

[2021-01-18 10:24] jeffoio commented on #51
https://www.notion.so/hugging-resistance-47e56d8c47bf48b786a32eb24943dff2

[2021-01-18 10:24] #51 closed, assigned to nobody

[2021-01-18 10:24] jeffoio opened #52 "스토리보드를 이용했을때의 장단점을 설명하시오."
2021년 1월 19일(화) 오후 7시까지

[2021-01-19 04:57] Minimoa commented on #52
https://www.notion.so/767473/13da4da120ab4c1a9f32b7902ee5e440

[2021-01-19 07:56] jwonyLee commented on #52
https://github.com/jwonyLee/TIL/blob/master/iOS/Interview/Storyboard.md

[2021-01-19 09:20] Aileen-HyunjiSong commented on #52
https://www.notion.so/c737ac31ac7c472ba3fe52ee680d06ec

[2021-01-19 12:30] jeffoio commented on #52
https://www.notion.so/052b4d0dc5ec48248acf06e46d0e43ee

[2021-01-19 12:30] #52 closed, assigned to nobody

[2021-01-19 12:31] jeffoio opened #53 "Safearea에 대해서 설명하시오."
2021년 1월 21일(목) 오후 7시까지

[2021-01-21 10:02] jeffoio commented on #53
https://www.notion.so/Safearea-6e2b287984de4e31809c446040b77254

[2021-01-21 10:02] getBingsoo commented on #53
https://www.notion.so/Safearea-af3d352f8b9a4961b9e508e06806b816

[2021-01-21 10:02] seonyoung169 commented on #53
https://www.notion.so/SafeArea-c9848611ed994cdda5008c6827e578a6

[2021-01-25 03:51] jeffoio opened #54 "Left Constraint 와 Leading Constraint 의 차이점을 설명하시오."
2021년 1월 25일(월) 오후 7시까지

[2021-01-25 04:46] #53 closed, assigned to nobody

[2021-01-25 08:31] seonyoung169 commented on #54
https://www.notion.so/Left-Constraint-Leading-Constraint-4d69966cb8bf4d83812d338ea3e5ffce

[2021-01-25 09:13] jwonyLee commented on #54
https://github.com/jwonyLee/TIL/blob/master/iOS/Interview/Left-Constraint-Leading-Constraint.md

[2021-01-25 09:25] jeffoio commented on #54
https://www.notion.so/Left-Constraint-Leading-Constraint-ec03ec2a47804efaac3be900393ca145

[2021-01-25 10:27] #54 closed, assigned to nobody

[2021-01-25 10:27] jwonyLee opened #55 "ARC란 무엇인지 설명하시오."
2021년 1월 26일(화) 오후 7시까지

[2021-01-25 10:35] jwonyLee opened #56 "auto-assign test"
테스트~_~

[2021-01-25 10:45] jwonyLee opened #57 "test"

[2021-01-25 10:45] #56 closed, assigned to nobody

[2021-01-25 10:47] #57 closed, assigned to nobody

[2021-01-26 09:06] seonyoung169 commented on #55
https://www.notion.so/ARC-ced8ef568b2d429cb22e7ee05b54da72

[2021-01-26 09:25] jwonyLee commented on #55
https://github.com/jwonyLee/TIL/blob/master/iOS/Interview/ARC.md

[2021-01-26 09:29] kartmon61 commented on #55
https://www.notion.so/ARC-282a3d2bbdb64ba9b844ad265eded425

[2021-01-26 10:20] jwonyLee opened #58 "Retain Count 방식에 대해 설명하시오."
2021년 1월 28일(목) 오후 7시까지

[2021-01-26 10:33] #55 closed, assigned to nobody

[2021-01-28 10:03] jeffoio commented on #58
https://www.notion.so/Retain-Count-5746d886d39843b482c0a9a02b9f5f0e

[2021-01-28 11:04] jwonyLee opened #59 "Strong 과 Weak 참조 방식에 대해 설명하시오."
2021년 2월 1일(월) 오후 7시까지

[2021-01-28 11:15] getBingsoo commented on #58
https://www.notion.so/Retain-Count-0ab6f1a494d9476e906a5a0a901ab29b

[2021-01-28 11:15] #58 closed, assigned to jeffoio, getBingsoo

[2021-02-01 09:38] jwonyLee commented on #59
https://github.com/jwonyLee/TIL/blob/master/iOS/Interview/Strong-Weak.md

[2021-02-01 09:55] jeffoio commented on #59
https://www.notion.so/Strong-Weak-5978cb133fcf4af499ec657f3750a507

[2021-02-01 10:33] jwonyLee opened #60 "ARC 대신 Manual Reference Count 방식으로 구현할 때 꼭 사용해야 하는 메서드들을 쓰고 역할을 설명하시오."
2021년 2월 4일(목) 오후 7시까지

[2021-02-01 10:38] seonyoung169 commented on #59
https://www.notion.so/Strong-Weak-2809e8170b5f46c18a9ffe67a96b7c1a

[2021-02-02 00:30] getBingsoo commented on #59
https://www.notion.so/Strong-Weak-8d2f1d3eaeca431fa573ae056ebe7178

[2021-02-02 00:30] #59 closed, assigned to jwonyLee, jeffoio, seonyoung169, getBingsoo

[2021-02-02 09:02] seonyoung169 commented on #60
https://www.notion.so/ARC-Manual-Reference-Count-04746bd1f3854269a8b25fe868958e7a

[2021-02-04 08:47] jwonyLee commented on #60
https://github.com/jwonyLee/TIL/blob/master/iOS/Interview/MRC-method.md

[2021-02-04 13:00] #60 closed, assigned to jwonyLee, seonyoung169

[2021-02-04 13:01] jwonyLee opened #61 "retain 과 assign 의 차이점을 설명하시오."
2021년 2월 8일(월) 오후 7시까지

[2021-02-08 08:33] jwonyLee commented on #61
https://github.com/jwonyLee/TIL/blob/master/iOS/Interview/retain-assign.md

[2021-02-08 10:05] jeffoio commented on #61
https://www.notion.so/retain-assign-4596c7b1feaa4c2b9d5e9f85b6f28449

[2021-02-08 10:24] #61 closed, assigned to jwonyLee, jeffoio, getBingsoo

[2021-02-08 10:24] jwonyLee opened #62 "순환 참조에 대하여 설명하시오."
2021년 2월 9일(화) 오후 7시까지

[2021-02-09 03:47] getBingsoo commented on #61
https://www.notion.so/retain-assign-74c083aafea543fbbcc3a0e1896b76ea

[2021-02-09 09:51] seonyoung169 commented on #62
https://www.notion.so/eafaa0f087ad478587a43741ae8bd56b

[2021-02-09 10:09] jeffoio commented on #62
https://www.notion.so/180b132b7d934df1b9375c661faadc72

[2021-02-09 11:16] #62 closed, assigned to jeffoio, seonyoung169

[2021-02-10 12:22] jwonyLee opened #63 "강한 순환 참조 (Strong Reference Cycle) 는 어떤 경우에 발생하는지 설명하시오."
2021년 2월 15일(월) 오후 7시까지

[2021-02-15 08:34] seonyoung169 commented on #63
https://www.notion.so/Strong-Reference-Cycle-35d8ea15da464c0fbb5e57410746e663

[2021-02-15 09:26] jwonyLee commented on #63
https://github.com/jwonyLee/TIL/blob/master/iOS/Interview/Strong-Reference-Cycle.md

[2021-02-15 10:02] jeffoio commented on #63
https://www.notion.so/180b132b7d934df1b9375c661faadc72

[2021-02-15 10:20] #63 closed, assigned to jwonyLee, jeffoio, seonyoung169

[2021-02-15 10:20] jwonyLee opened #64 "특정 객체를 autorelease 하기 위해 필요한 사항과 과정을 설명하시오."
2021년 2월 15일(화) 오후 7시까지

[2021-02-15 10:21] jwonyLee opened #65 "Autorelease Pool을 사용해야 하는 상황을 두 가지 이상 예로 들어 설명하시오."
2021년 2월 16일(화) 오후 7시까지

[2021-02-16 06:45] seonyoung169 commented on #65
https://www.notion.so/Autorelease-Pool-f79e85136eaa4a0c8a948887f8558f54

[2021-02-16 09:30] jwonyLee commented on #65
https://github.com/jwonyLee/TIL/blob/master/iOS/Interview/Autorelease-Pool.md

[2021-02-16 09:31] jwonyLee commented on #64
https://github.com/jwonyLee/TIL/blob/master/iOS/Interview/autorelease.md

[2021-02-16 10:54] jwonyLee opened #66 "다음 코드를 실행하면 어떤 일이 발생할까 추측해서 설명하시오. Ball *ball = [[[[Ball alloc] init] autorelease] autorelease];"
2021년 2월 18일(목) 오후 7시까지

[2021-02-18 08:37] jeffoio commented on #66
https://www.notion.so/Ball-ball-Ball-alloc-init-autorelease-autorelease-56e4b665b9734ecd9b994d5922b24eb1

[2021-02-18 08:37] jeffoio commented on #65
https://www.notion.so/autorelease-pool-74d59b49ddab4dd8b002b071bb92b2f6

[2021-02-18 08:37] #65 closed, assigned to jwonyLee, jeffoio, seonyoung169

[2021-02-18 08:37] jeffoio commented on #64
https://www.notion.so/autorelease-pool-74d59b49ddab4dd8b002b071bb92b2f6

[2021-02-18 08:37] #64 closed, assigned to jwonyLee, jeffoio

[2021-02-19 03:16] #1 closed, assigned to Minimoa, jwonyLee, IMCHO, jeffoio, kartmon61, devejs

[2021-02-19 03:16] #66 closed, assigned to jeffoio

[2021-02-22 14:29] #2 closed, assigned to nobody

[2021-02-22 14:30] #3 closed, assigned to nobody

[2021-02-25 07:42] #5 closed, assigned to nobody

[2021-02-25 07:43] #4 closed, assigned to nobody

[2021-02-25 10:28] seonyoung169 commented on #6
https://www.notion.so/Singleton-cc026b218bc249b7a36386a144d7a3c0

[2021-02-25 10:28] seonyoung169 commented on #7
https://www.notion.so/KVO-128aee8b7b894c92ace00ba7649b6397

[2021-02-25 11:44] #6 closed, assigned to jwonyLee, jeffoio, seonyoung169

[2021-02-25 11:45] #7 closed, assigned to jwonyLee, jeffoio, seonyoung169

[2021-02-28 11:26] seonyoung169 commented on #8
https://www.notion.so/Delegate-Notification-a082e3491ae546009ae95a684de0cd14

[2021-02-28 11:26] seonyoung169 commented on #9
https://www.notion.so/be56b1bb88bc44f594a73c380d99e066

[2021-03-01 11:36] #9 closed, assigned to seonyoung169

[2021-03-01 11:36] #8 closed, assigned to seonyoung169

[2021-03-01 12:51] seonyoung169 commented on #11
https://www.notion.so/a535d24321cc43bd9f29a91eacfc5cbd

[2021-03-01 12:51] seonyoung169 commented on #10
https://www.notion.so/MVC-e0961c3835f1412d9de89997fd05e8b8

[2021-03-02 17:45] getBingsoo commented on #10
https://www.notion.so/MVC-e1b9d0bf28984f77940abe22e283c375

[2021-03-02 17:46] getBingsoo commented on #11
https://www.notion.so/6c83fc3dab0e43488ffcaa82f6250b8c

[2021-03-03 01:20] #11 closed, assigned to seonyoung169, getBingsoo

[2021-03-03 01:20] #10 closed, assigned to seonyoung169, getBingsoo

[2021-03-03 11:19] seonyoung169 commented on #13
https://www.notion.so/mutating-af59005394cb48b5be10933331d6c565

[2021-03-03 11:19] seonyoung169 commented on #12
https://www.notion.so/Hashable-Equatable-c35930117754402a82237eb8781a3cd2

[2021-03-07 10:27] #13 closed, assigned to seonyoung169

[2021-03-07 10:27] #12 closed, assigned to seonyoung169

[2021-03-07 13:36] seonyoung169 commented on #14
https://www.notion.so/e5b4a11b055242f7a8d64bb87cd81c3c

[2021-03-07 13:47] seonyoung169 commented on #15
https://www.notion.so/Extension-78086f6a62414e059b9609ccef3eceae

[2021-03-08 12:19] #15 closed, assigned to seonyoung169

[2021-03-08 12:20] #14 closed, assigned to seonyoung169

[2021-03-08 12:58] seonyoung169 commented on #16
https://www.notion.so/135a86e60b01424a87e293abc07e0387

[2021-03-08 13:32] seonyoung169 commented on #17
https://www.notion.so/defer-defer-defer-029ed35db4da45949365600bbdfadde6

[2021-03-08 13:32] seonyoung169 commented on #18
https://www.notion.so/defer-defer-defer-029ed35db4da45949365600bbdfadde6

[2021-03-10 13:49] #16 closed, assigned to seonyoung169

[2021-03-10 13:50] #17 closed, assigned to seonyoung169

[2021-03-10 13:50] #18 closed, assigned to seonyoung169

[2021-03-11 10:41] jeffoio commented on #20
https://www.notion.so/b517ed9298e443349f3719ac4e26448d

[2021-03-11 11:26] getBingsoo commented on #20
https://www.notion.so/Bounds-Frame-b0b808ff0dd94fbeb842e79259afe607

[2021-03-11 11:26] getBingsoo commented on #19
https://www.notion.so/9894cee5d66640cb8c5fa984ea4f1c6c

[2021-03-15 02:47] #20 closed, assigned to jeffoio, getBingsoo

[2021-03-15 02:48] #19 closed, assigned to getBingsoo

[2021-03-22 09:47] seonyoung169 commented on #22
https://www.notion.so/91989b5b18e54228894c442d423050fa

[2021-03-22 09:48] seonyoung169 commented on #21
https://www.notion.so/foreground-background-64b3eb608d7f495d85f4e89156410f15

[2021-03-22 13:13] #21 closed, assigned to seonyoung169

[2021-03-22 13:13] #22 closed, assigned to seonyoung169

[2021-03-23 12:11] #23 closed, assigned to nobody

[2021-03-23 12:11] #24 closed, assigned to nobody

[2021-03-29 05:32] #25 closed, assigned to nobody

[2021-03-29 05:32] #26 closed, assigned to nobody

[2021-03-29 11:35] getBingsoo commented on #27
https://www.notion.so/Custom-View-865623660b0d4548a2929a8ffaac4355

[2021-03-29 11:35] #27 closed, assigned to getBingsoo

[2021-03-29 11:36] getBingsoo commented on #28
https://www.notion.so/iOS-User-Interface-b8014e53472e400ea4718cf750c1d833

[2021-03-29 11:36] #28 closed, assigned to getBingsoo

[2021-03-30 10:03] jwonyLee commented on #30
https://github.com/jwonyLee/TIL/blob/master/iOS/Interview/Delegate-retain.md

[2021-03-30 11:37] #29 closed, assigned to nobody

[2021-03-30 11:37] #30 closed, assigned to jwonyLee

[2021-04-01 10:39] jwonyLee commented on #32
https://github.com/jwonyLee/TIL/blob/master/iOS/Interview/Application-thread.md

[2021-04-04 12:48] seonyoung169 commented on #31
https://www.notion.so/NotificationCenter-bcb6e10495fb42c1b2c51de6f6936995

[2021-04-04 12:48] seonyoung169 commented on #32
https://www.notion.so/UIKit-0b396989e623422e9ad425b099901a45

[2021-04-05 11:47] #31 closed, assigned to seonyoung169

[2021-04-05 11:47] #32 closed, assigned to jwonyLee, seonyoung169

[2021-04-08 09:24] #33 closed, assigned to nobody

[2021-04-08 09:24] #34 closed, assigned to nobody

[2021-04-13 05:22] #35 closed, assigned to nobody

[2021-04-13 05:22] #36 closed, assigned to nobody

[2021-09-29 19:08] Youngminah commented on #66
fff